html {
    scroll-behavior: smooth;
}

@keyframes deslizarYaparecer {
from {
    opacity: 0;
    transform: translateY(-30px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

@keyframes aparecer {
    from {
    opacity: 0;
    transform: translateY(20px);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
}

p {
    animation: aparecer 1s ease;
}

li:nth-child(1) {
    animation: aparecer 0.6s ease forwards;
    animation-delay: 0.2s;
}

li:nth-child(2) {
    animation: aparecer 0.6s ease forwards;
    animation-delay: 0.4s;
}

li:nth-child(3) {
    animation: aparecer 0.6s ease forwards;
    animation-delay: 0.6s;
}

nav {
    background-color: #0a9396;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

body {
    font-family: 'PT Serif', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding-top: 60px;

}

header {
    background-color: #005f73;
    color: white;
    padding: 20px;
    text-align: center;
    animation: deslizarYaparecer 1s ease;
}

.foto-perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
    display: block;
    margin: 0 auto; 
    position: relative;
    z-index: 10;
}

.foto-perfil:hover {
    transform: scale(1.2);
    z-index: 9999;
}

section{
    padding: 20px;
    
}

h1 h2 h3 h4 {
    margin-bottom: 10px;
    
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    background-color: #e0fbfc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

p {
    background-color: #e0fbfc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
header img {
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
}

#redes ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

#redes a {
    text-decoration: none;
    color: #0077b6;
    font-weight: bold;
}

#redes i {
    margin-right: 8px;
    color: #0a9396;
}

